.root{
    -fx-background-color: #222;
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-background-radius: 28;
}
.text-field{
    -fx-font-size: 30pt;
    -fx-background-color: black;
    -fx-background-radius: 15 15 25 25;
    -fx-text-fill: white;
}
.button{
    -fx-background-color: white;
    -fx-background-radius: 180;
    -fx-text-fill: white;
    -fx-font-size: 30;
    -fx-text-alignment: bold;

}
.button-grey{
    -fx-background-color: #b2babb;
    -fx-text-fill: white;
    -fx-background-radius: 180;
}
.button-grey2{
    -fx-background-color:  #616a6b;
}
.button-orange{
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.highlight{
    -fx-background-color: black;
    -fx-background-radius: 15;
}